.page-header {
    border-bottom: 1px solid #ECECEC;
}

.main-header {
    display: flex;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.header-nav {
    display: flex;
    align-items: center;
}

.page-header {
    background-color: var(--third-background);
}

.header-logo {
    @include font($fw:700,$fz:26px,$lh:1.19);
    display: flex;
    margin-right: 93px;
    color: var(--accent-color);
    font-family: 'Raleway';
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
}

.span {
    color: #000000;
}